tmp/
.idea/
dag.svg
scripts/create_structures_abinitio.sh
scripts/create_structures_minirosetta.sh
scripts/calculate_rmsd.py
scripts/extract_rms.py
scripts/move_to_train_and_val.sh
scripts/create_train_val.py
scripts/pdb_renumber.py
get_length_from_fasta.py
create_pdb_and_fasta.py
obtain_protein_chains.py

